/* Container styles */
.skills-container {
  width: 65%;
  height: 200px;
  padding: 16px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center; /* Centraliza os itens horizontalmente */
  overflow: hidden;
  margin: 0 auto; /* Centraliza o container na página */
}

/* Skill item styles */
.skill {
  display: flex;
  align-items: center;
  padding: 8px 12px;
  margin-right: 12px;
  border: 2px solid transparent;
  border-radius: 8px;
  transition: transform 0.3s ease, border-color 0.3s ease;
}

.skill svg {
  width: 28px;
  height: 28px;
  margin-right: 8px;
  alt: "Skill name"; /* Add alt text for each skill */
}

.skill span {
  font-size: 16px;
  font-weight: bold;
  font-family: sans-serif; /* Set a specific font family */
}

/* Marquee wrapper styles */
.marquee-wrapper {
  display: flex; /* Adiciona flexbox para centralização */
  justify-content: center; /* Centraliza horizontalmente o marquee */
  align-items: center; /* Centraliza verticalmente o marquee */
  height: 100%; /* Garante que a altura seja 100% do container */
  width: 100%; /* Garante que a largura seja 100% do container */
  overflow: hidden;
}
