body {
  margin: 0;
  height: 100vh;
  color: #222222;
  font-family: "Euclid Circular A", "Poppins";
  background: #222222;
}


progress {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 8px;
  border: none;
  background: transparent;
}

progress::-webkit-progress-bar {
  background: rgb(255 255 255 / 16%);
}

progress::-webkit-progress-value {
  background-color: #8f44fd;
}

.appear {
  opacity: 0;
  translate: 0 30px;
  animation-name: appear;
  animation-duration: 0.3s;
  animation-fill-mode: both;
}